.curiculum{
    background-color: ghostwhite;
    height: 100%;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 2%;
    

}

.curiculum-leadership, .curiculum-certifications,.curiculum-experience, .curiculum-education{
    vertical-align: top;
    width: 45%;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    line-height: normal;
    padding: 1% 3%;
    

}



/* .curiculum-leadership{
    box-sizing: border-box;
    width: 45%;
} */