@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap");

body {
  background-color: #262626;
  color: rgb(82, 82, 82);
  font-family: "Oswald", sans-serif;
  overflow-x: hidden;
  margin: 0;
}

/* animation before screen loads */

#loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transform: translateX(0); /* Initial position on-screen */
  transition: transform 1.6s ease; /* Transition for the 'transform' property */
}

#loader-container.loader-close {
  transform: translateX(-100%); /* Move off-screen when the 'loader-close' class is applied */
}

#loader-bar {
  width: 40%;
  border-radius: 2%;
  height: 15px;
  background-color: ghostwhite;
  position: relative;
  overflow: hidden;
}

#filler {
  width: 0;
  height: 100%;
  background-color: rgb(38, 38, 38);
  animation: fillAnimation 3s forwards;
}

@keyframes fillAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

#loading-text {
  margin-top: 20px;
  font-size: 18px;
}

/* end of splash screen */


#page-content {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.exitLoad {
  display: block;
}

/* Header Styles */
header {
  padding: 2%;
  position: fixed;
  background-color: rgb(28, 27, 27);
  white-space: nowrap;
  width: 100%;
  height: 30px; /* Adjust this value based on your header height */
  line-height: 30px; /* Should match the height of the header */
  z-index: 10;
}

.header-hidden {
  opacity: 0;
  pointer-events: none;
}

/* Nav bar Styles */
nav {
  font-family: "Kanit", sans-serif;
  color: ghostwhite;
  line-height: normal;
  display: inline-block;
  height: 100%;
  width: 100%;
  transition: opacity 0.5s ease;
  
  
}

nav li a:visited {
  color: ghostwhite;
}

nav li a:link {
  color: ghostwhite;
}

.nav-left {
  margin-left: 2%;
  font-weight: 200;
  font-size: 1.2em;
}

.nav-left:hover {
  font-size: 1.3em;
  transition: font-size 0.1s ease;
}

.nav-right {
  float: right;
  font-weight: 200;
  text-align: right;
  font-size: 1.2em;
  margin-right: 2%;
}

.nav-right:hover {
  font-size: 1.3em;
  transition: font-size 0.1s ease;
}

nav ul {
  display: block;
  list-style: none;
  text-align: left;
}

nav li {
  white-space: nowrap;
  display: inline-block;
}
nav li a {
  text-decoration: none;
  padding: 12px 16px;
}

nav li a:hover {
  background-color: ghostwhite;
  color: rgb(28, 28, 28);
  border-radius: 8px;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
  cursor: pointer;
}

/* end of Nav styles */


/* About Section */

#about{
  
  height: 100vh;
}

.about {
  background-color: ghostwhite;
  position: relative;
  width: 100%;
  height: max-content;
  overflow: hidden;
  position: relative; /* Make sure other elements are positioned relative to this */
  z-index: 1;
}

.section {
  min-height: fit-content;
  box-sizing: border-box;
}

.about-img {
  position: relative;
  display: inline-block;
  margin: 10%;
  line-height: normal;
  vertical-align: middle;
  transition: scale 0.2s ease;
  box-sizing: border-box;
  z-index: 2;
}

.about-img:hover::after {
  content: "Hi, my name is Kelechi. I am a student majoring in Computer Science and Information Systems. I aspire to become a software developer handling complex systems and thus help change lives in the community.";
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(77, 55, 0, 0.798);
  color: rgb(231, 231, 231);
  padding: 5%;
  text-align: center;
  border-radius: 4%;
  opacity: 1;
  pointer-events: none; /* Allows hovering over the text itself */
  z-index: 1; /* Ensures the text appears above the image */

  width: 90%;
  font-size: 0.8em;
}

#profile-img {
  display: block;
  opacity: 80%;
  transition: filter 0.3s ease;
  transition: scale 0.3s ease;
}

.hover-image:hover {
  scale: 110%;
}

.about-img:hover img {
  opacity: 0; /* Hide the original image on hover */
}

.about-img:hover .hover-image {
  opacity: 1; /* Show the new image on hover */
}

.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  margin: 0 auto;
}

.about-text {
  width: 35%;
  height: auto;
  display: inline-block;
  padding: 7% 5%;
  margin: 0 auto;
  text-align: center;
  line-height: normal;
  vertical-align: middle;
}
.loading-text {
  overflow: hidden; /* Hide overflowing content */
  white-space: nowrap;
}


/* bounce animation for the image */

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0); /* Bounce up and down */
  }
  40% {
    transform: translateY(-30px); /* Bounce up */
  }
  60% {
    transform: translateY(-15px); /* Bounce down */
  }
  70% {
    transform: translateY(5px); /* Bounce up */
  }
}

#profile-img.bounce {
  animation: bounce 0.8s; /* Apply the bounce animation */
}

@keyframes bounceAnimation1 {
  0% {
    transform: translate(100vw, 0%);
  }
  25% {
    transform: translate(80vw, +1500%);
  }
  50% {
    transform: translate(55vw, +0%);
  }
  75% {
    transform: translate(30vw, +1500%);
  }
  100% {
    transform: translate(0, +0%);
  }
}

@keyframes bounceAnimation2 {
  0% {
    transform: translate(0, +1500%);
  }
  25% {
    transform: translate(25vw, 0);
  }
  50% {
    transform: translate(50vw, +1500%);
  }
  75% {
    transform: translate(75vw, 0);
  }
  100% {
    transform: translate(100vw, +1500%);
  }
}

@keyframes bounceAnimation3 {
  0% {
    transform: translate(0, 0%) scale(1);
  }
  25% {
    transform: translate(17vw, +1200%) scale(1.4);
  }
  50% {
    transform: translate(43vw, +0%) scale(0.8);
  }
  75% {
    transform: translate(65vw, +1200%) scale(1.6);
  }
  100% {
    transform: translate(100vw, +0%) scale(1);
  }
}

@keyframes bounceAnimation {
  0% {
    transform: translate(0, 0%);
  }
  25% {
    transform: translate(25vw, +1500%);
  }
  50% {
    transform: translate(50vw, +0%);
  }
  75% {
    transform: translate(75vw, +1500%);
  }
  100% {
    transform: translate(100vw, +0%);
  }
}

.bouncing-box {
  transition: background-color 0.3s ease;
  overflow: hidden;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #74747448;
  animation: bounceAnimation 9s linear infinite; /* Adjust the duration and easing as needed */
  z-index: 1; /* Set a negative z-index to keep it behind other elements */
}

.bouncing-box:hover {
  background-color: rgb(50, 49, 49);
  border-radius: 40%;
}


.background {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.about-img img {
  width: 30vw;
  height: auto;

  border-radius: 10%;
}

.buttons {
  border-radius: 8px;
  transition: background-color 0.3s ease;
  background-color: rgb(38, 38, 38);
  color: white;
  padding: 12px 20px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.7rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buttons:hover {
  background-color: rgb(38, 38, 38); 
  color: ghostwhite;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
  cursor: pointer;
  padding: 14px 22px;
}

.buttons:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.buttons::before {
  content: "\01F57E"; /* Telephone */
  margin-right: 5px;
}

.social {
  padding: 2%;
}

.social-icons {
  height: 1.5em;
  width: 1.5em;
  transition: scale ease-in-out 3s;
}

.social-icons:hover {
  height: 2em;
  width: 2em;
  transition: height ease-in 0.1s, width ease-in 0.1s;
}

.end {
  display: none;
  text-align: center;
}

.side-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: rgba(39, 39, 39, 0.902);
  color: ghostwhite;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 999;
  transform: translateX(-250px); /* Initial position off-screen */
  transition: transform 0.3s ease; /* Slide-in transition effect */
}

.menu-button {
  display: none;
  cursor: pointer;
}

.side-menu.menu-open {
  transform: translateX(0);
}

/* neon bars */
#neon-section {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.rotate-45deg {
  transform: rotate(45deg);
}

.rotate-90deg {
  transform: rotate(90deg);
}

.rotate-135deg {
  transform: rotate(135deg);
}

.neon-bar {
  position: absolute;
  animation: hover 1s infinite alternate;
  z-index: -1;
  opacity: 0.3;
  transform: opacity 0.3s ease-in-out;
}

@keyframes hover {
  to {
    transform: translateY(-10px);
  }
}

/* Neon glow effect */
.neon-bar::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px; /* Adjust the border-radius to control the bar's corners */
  opacity: 0.3; /* Adjust the opacity for the glow effect */
  animation: neon-flicker 1.5s infinite alternate;
}

@keyframes neon-flicker {
  to {
    opacity: 1; /* Adjust the opacity for the glow effect */
  }
}

/* Random rotation angles for bars */
.neon-bar.rotate-45::before {
  transform: rotate(45deg);
}

.neon-bar.rotate-90::before {
  transform: rotate(90deg);
}

.neon-bar.rotate-135::before {
  transform: rotate(135deg);
}

/* Hamburger menu styles for smaller screens */
@media only screen and (max-width: 768px) {


  header{
    position: static;
    height: fit-content;
  }

  nav{
    position: static;
  } 

  nav ul {
    text-align: center;
  }
  nav li a {
    display: block;
    text-align: center;
    text-wrap: nowrap;
  }

  .menu-button {
    display: block;
    text-align: center;
  }

  .nav-left,
  .nav-right {
    margin: 0;
    display: block;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
  }


  .nav-left {
    margin: 0;
    width: 100%;
    display: block;
    margin-bottom: 2%;
    text-align: center;
  }
  
  .nav-right {
    
    display: none;
    text-align: center;
  }

  ul {
    padding: 0;
  }

  .nav-right ul {
    display: none;
  }

  .about-img {
    text-align: center;
    display: block;
  }

  .about-img img {
    width: 100%;
    border-radius: 10%;
  }

  .close-button {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: ghostwhite;
  }

  .close-button li a {
    margin: 0 auto;
  }

  .loading-text {
    text-wrap: wrap;
  }

  .about-text {
    width: 100%;
    padding: 7% 5%;
    box-sizing: border-box; /* Include padding in width calculation */
  }

  .buttons {
    font-size: 0.6rem; /* Increase font size for better visibility */
  }

  .social {
    text-align: center;
    padding: 5%;
  }

  .social-icons {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1%;
  }

  .social-icons:hover {
    height: 2rem;
    width: 2rem;
    transition: height ease-in 0.1s, width ease-in 0.1s;
  }

  .about-img:hover::after {
    width: 60%;
    top: 50%;
    font-size: 0.6rem;
  }

  .side-menu li {
    display: block;
    height: fit-content;
  }

  .hover-image {
  }
}

@media screen and (min-width: 720px) {
  ul {
    padding: 0;
    margin: 0;
    display: inline-block;
  }

  nav li {
    /* Restore right margin if needed */
    white-space: nowrap;

    display: inline-block;
    margin-bottom: 0; /* Remove bottom margin */
  }

  .nav-right a {
    font-size: 0.8em;
  }

  .nav-right li {
    margin-left: 0;
    padding: 4% 0;
  }
}
