#projects-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
}

#projects-content {
    display: flex;
    margin: 10px;
    transition: transform 0.5s ease-in-out;
}

.projects-item {
    flex: 0 0 300px;
    object-fit: cover;
    
}



.projects{
    box-sizing: border-box;
    height: 100%;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 2%;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    color: ghostwhite;
}